---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	<Header title={SITE_TITLE} />
		<main>
			<div class="container mx-auto grid grid-cols-1 lg:grid-cols-2">
				<div class="w-full lg:pr-12 lg:self-center">
					<h1 class="font-bold text-3xl lg:text-6xl mt-10 lg:mt-20">Hi! I'm Sebastian Guevara and I'm a Ruby on Rails developer</h1>
					<p class="text-base lg:text-lg mt-4 lg:mt-9">Mostly focused on back-end development, but I can also take on the role of a front-end developer and always aim to create as much value as possible.</p>
				</div>
				<div class="w-full lg:w-auto lg:self-center">
					<img src="/favicon.PNG" class="mx-auto lg:ml-0 mt-8 lg:mt-0" alt="">
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
