---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<img id="profile" src="/favicon.PNG" ></img>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi! I'm Sebastian Guevara currently I live in Medellin, Colombia, and I'm a 
				Ruby on Rails developer with a year of experience (Mostly focus in Back end development)
			</p>
		</main>
		<Footer />
	</body>
</html>
